{% extends 'base.html.twig' %}


{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
<style>
    h1{
        text-align:center;
        font-size:50px;
        padding-top:10%;
        color:#8f8f8f;
    }

    button{
        margin-right:1%;
        margin-bottom:1%;
    }
</style>

  <div class="container">  
    <h1>Création d'un nouvel utilisateur</h1>
 
    {{ include('admin/user/_form.html.twig') }}

    
    <button class= "btn btn-primary"> <a href="{{ path('admin_user_index') }}">back to list</a> </button>
     
 </div>
    
{% endblock %}
